.RecipeIngredientsForm {
  border-right: 1px solid var(--grey-border);
}

div.FormRecipe {
  &_collapse {
    border: 0;
    padding: 0;
    &.ant-collapse {
      border-radius: 0;
      background-color: var(--background-primary);
    }
  }
  &_panel {
    &.ant-collapse-item {
      border: 0;
    }
    padding: 0;
  }
}
