@import '../../styles/core.scss';

.navigationItem {
  border-right: 1px solid #e1e5eb;
  padding: 3px 12px;
  height: fit-content;
  &:last-child {
    border-right: 0;
  }
  &_Link {
    color: #3d5170;
    display: block;
    text-decoration: none;
    font-weight: 500;
    padding: 0 2px;
    &.active {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
}
