// Desktop
.layout_desktopMenu {
  padding: 0 15px;
}
.layout {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    h1 {
      line-height: 35px;
      font-family: 'Sharlene';
      font-size: 95px;
      height: 85px;
      margin-bottom: 0;
    }
  }
  &_search {
    width: 30%;
    padding-top: 20px;
  }
  &_user {
    padding-top: 20px;
    > a {
      padding: 15px 0 10px 15px;
      display: inline-block;
      > i {
        display: block;
        text-align: center;
        font-size: 20px;
      }
    }
  }
  &_menu {
    border-top: 1px solid var(--grey-border);
    border-bottom: 1px solid var(--grey-border);
    width: 100%;
    padding: 15px;
    &_items {
      display: flex;
      align-items: center;
      width: 100%;
      a {
        margin-right: 50px;
        font-size: 14px;
        &.active {
          color: var(--primary);
        }
      }
    }
  }
  &_content {
    background-color: var(--background-primary);
    padding: 30px 15px 15px;
    min-height: 100vh;
  }
  &_darkmode {
    position: fixed;
    top: 15px;
    right: 0;
    display: flex;
    i {
      padding: 4px 10px;
    }
  }
}

// Mobile
.layout_mobileMenu {
  .layout_header {
    padding-left: 15px;
  }
  .layout_menu {
    border: 0;
    text-align: right;
  }
}

.ant-drawer-wrapper-body {
  background-color: var(--background-drawer);

  .ant-drawer-header {
    background-color: var(--background-drawer);
    .ant-drawer-title {
      color: var(--primary);
    }
  }
  .ant-drawer-body {
    padding: 0;
  }
  .layout_menu_items {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    a {
      margin: 0;
      display: block;
      width: 100%;
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid var(--grey-border);
      &.active,
      &:hover {
        background-color: var(--primary);
        color: var(--background-drawer);
      }
    }
  }
}
