.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-dropdown,
.ant-select-borderless .ant-select-selector {
  box-shadow: none !important;
}

.ant-checkbox-group.checkboxWithImage {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;

  .ant-checkbox-wrapper {
    &.iconCheckbox {
      display: inline-block;
      border: 1px solid var(--grey-border);
      padding: 10px 0;
      border-radius: 15px;
      text-align: center;
      margin: 6px 10px 6px 0;
      .ant-checkbox {
        display: none;
      }
      span {
        line-height: 14px;
        font-size: 14px;
        i {
          font-size: 16px;
          padding-right: 5px;
        }
      }

      &.ant-checkbox-wrapper-checked {
        background-color: var(--green-300);
        border: 1px solid var(--green-500);
        color: var(--color-categories);
      }
    }
  }
}
.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select-picture-card {
  background-color: transparent;
}

.ant-upload.ant-upload-select-picture-card > span.ant-upload,
.ant-upload {
  color: var(--color-text);

  &:hover {
    color: var(--primary);
  }
}
