.recipeSingleElement {
  padding: 5px;
  &_image {
    position: relative;
    height: 300px;
    margin-bottom: 15px;
    text-align: center;
    background-position: center;
    background-size: cover;
  }
  &_mainCategorie {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    a {
      display: inline-block;
      font-size: 14px;
      padding: 0px 30px;
      background-color: var(--white-100);
      line-height: 35px;
      color: var(--color-categories);
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &_categories.RecipeDetails_categories {
    font-size: 11px;
    .categoryTag {
      padding: 5px 10px;
      margin: 0 5px;
    }
  }

  h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &_details {
    text-align: center;
    i {
      margin: 0 5px 0 10px;
    }
  }
}
