div.ingredientsForm {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-border);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  &:nth-last-child(2) {
    border-bottom: 0;
  }

  &-odd {
    background-color: var(--background-secondary);
  }

  &_row {
    width: 80%;
    border-right: 1px solid var(--grey-border);
    button {
      display: none;
    }
  }

  button {
    display: inline-block;
  }

  div.ant-row.ant-form-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-right: 20px;
  }

  @media (min-width: 665px) {
    &_row {
      display: flex;
      align-items: center;
      width: 100%;
      border-right: 0;
      .button_remove {
        display: inline-block;
        margin-top: 15px;
      }
    }

    button:not(.ingredientsForm_row) {
      display: none;
    }

    div.ant-row.ant-form-item {
      margin-right: 8px;
      flex-direction: column;
      width: 30%;
    }
    div.ant-row.ant-form-item.quantity-form {
      width: 20%;
    }
  }

  @media (min-width: 1000px) {
    div.ant-row.ant-form-item {
      width: 30%;
    }
    div.ant-row.ant-form-item.quantity-form {
      width: 20%;
    }
  }
  @media (min-width: 1500px) {
    div.ant-row.ant-form-item,
    div.ant-row.ant-form-item.quantity-form {
      width: 30%;
    }
  }

  .button_remove {
    color: var(--button-color-default);
  }
}

.button_add {
  margin-top: 15px;
}

// Panel head : | Ingredients [+]   v |
.ingredientForm_head {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  h3 {
    margin: 0 15px 0 0;
  }
  button {
    margin-bottom: 8px;
  }
}
