.step_item {
  margin: 10px 0;
  &_content {
    display: flex;
    align-items: center;
    > div {
      width: 100%;
    }
    .button_remove {
      color: var(--black);
    }
  }
}

.button_add_step {
  text-align: right;
  margin: 20px 0;
}
