.step {
  display: flex;

  &_index {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    background-color: $green-300;
  }
}

.icons.fas {
  margin-right: 10px;
}

.RecipeDetails {
  &_actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  &_header {
    display: flex;
    justify-content: center;
    align-items: top;
    h2 {
      text-align: left;
      margin-bottom: 15px;
    }
    .carrousel {
      height: 300px;
      color: #fff;
      line-height: 300px;
      text-align: center;
      background: #364d79;
      font-size: 30px;
    }
  }
  &_informations {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 15px 0;
    .ant-divider.ant-divider-vertical {
      height: auto;
    }
  }
  &_categories {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    > div {
      padding: 5px 15px;
      margin: 0 10px;
      border: 1px solid $green-600;
      border-radius: 15px;
      background-color: $green-300;
    }
  }

  ul.listIngredients {
    list-style: none;
    padding: 0;
    padding-right: 15%;
    li {
      img {
        margin-right: 20px;
      }
      line-height: 30px;
      padding-top: 10px;
      padding-bottom: 10px;

      font-size: 14px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}
