.step {
  display: flex;

  &_index {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    background-color: $green-300;
  }
}

.RecipeDetails {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
