.layout {
  &_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-secondary);

    padding: 10px;
    z-index: 10;
    &_items {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 50px;
      a {
        margin-left: 50px;
      }
    }
    h1 {
      margin-bottom: 0;
    }
  }
  &_content {
    background-color: var(--background-primary);
    padding: 80px 15px 15px;
    min-height: 100vh;
  }
}
