.layout {
  .layout_mobileMenu {
    display: block;
  }
  .layout_desktopMenu {
    display: none;
  }

  @media (min-width: 792px) {
    .layout_mobileMenu {
      display: none;
    }
    .layout_desktopMenu {
      display: block;
    }
  }
}
