.recipeForm {
  .form_button_addIngredient {
    margin: 15px auto 0 auto;
    display: block;
  }
  &_stape {
    border-bottom: 2px dashed lightgrey;
    padding-bottom: 25px;
    margin-bottom: 20px;
    .titleStape {
      margin: 5px 0 20px 16px;
    }
  }
}
