$white: #ffffff;
$white-600: #f5f6f8;

$black: #333333;

$grey-50: #f9f9f9;
$grey-100: #f0f0f0;
$grey-200: #e6e6e6;
$grey-300: #dbdbdb;
$grey-400: #d4d4d4;
$grey-500: #cccccc;
$grey-600: #c7c7c7;
$grey-700: #c0c0c0;
$grey-800: #b9b9b9;
$grey-900: #adadad;

$green-100: #f6ffed;
$green-200: #d9f7be;
$green-300: #b7eb8f;
$green-400: #95de64;
$green-500: #73d13d;
$green-600: #52c41a;
$green-700: #389e0d;
$green-800: #237804;
$green-900: #135200;

$primary: $green-500;
