body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $white-600;
}

@import './fontAwesome/scss/fontawesome.scss';
@import './fontAwesome/scss/solid.scss';
@import './fontAwesome/scss/brands.scss';
@import './fontAwesome/scss/regular.scss';

a {
  color: inherit;
}

h1 {
  color: $primary;
}

h2 {
  font-size: 40px;
  color: $primary;
}

.page {
  &_loader {
    text-align: center;
    margin-top: 100px;
  }
}
