body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $white-600;
}

@import "./fontAwesome/scss/fontawesome.scss";
@import "./fontAwesome/scss/solid.scss";
@import "./fontAwesome/scss/brands.scss";
@import "./fontAwesome/scss/regular.scss";


a {
  color: inherit;
}
