.RecipeDetails_information {
  text-align: center;
  &_icon {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #333333;
  }
  &_label {
    font-size: 14px;
    font-weight: 400;
  }
  &_value {
    font-size: 20px;
    color: $primary;
    font-weight: 700;
  }
}
