.RecipeDetails_information {
  text-align: center;
  &_icon {
    font-size: 35px;
    height: 40px;
    width: 40px;
    font-weight: 300;
    margin-bottom: 15px;
    fill: var(--black);
  }
  &_label {
    font-size: 14px;
    font-weight: 400;
  }
  &_value {
    font-size: 20px;
    color: var(--primary);
    font-weight: 700;
  }
}

.RecipeDetails_editPortion {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  button {
    margin: 0 20px;
    background-color: var(--green-500);
    border: 1px solid var(--green-600);
    font-weight: 500;
    span {
      font-size: 20px;
      line-height: 18px;
    }
  }
  .ant-input-affix-wrapper {
    width: 130px;
    font-size: 14px;
  }
}

.RecipeDetails_menu_button {
  width: 100%;
  padding: 0;
  text-align: left;
  i {
    margin-right: 5px;
  }
}

.RecipeDetails_images_step {
  .ant-image {
    height: 200px;
    overflow: hidden;
    position: relative;
  }
}
